@model Bit8Assignment.Semester
@{
    ViewBag.Title = "Data";
} 

<body>
    <table>
        <tr>
            <th>Student</th>
            <th>Discipline</th>
            <th>Semester</th>
        </tr>
        @foreach (var s in @Model)
        {
            foreach (var l in @s.List)
            {
                <tr>
                    <td>@l.StudentName</td>
                    <td>@l.DisciplineName</td>
                    <td>@l.SemesterName</td>
                </tr>
            }
        }
    </table>
</body>