@model Bit8Assignment.Data
@{
    ViewBag.Title = "Data";
} 

<body>
    <h1>Students without scores</h1>
    <br/>
    <table>
        <tr>
            <th>Student</th>
            <th>Discipline</th>
            <th>Semester</th>
        </tr>
        @foreach (var s in Model.List)
        {

            <tr>
                <td>@s.StudentName</td>
                <td>@s.DisciplineName</td>
                <td>@s.SemesterName</td>
            </tr>
        }
    </table>
</body>